@import "src/common/styles/style.scss";
@import "src/common/styles/icon.scss";

.tabText {
  display: inline-block;
  border-bottom: 2Px solid white;
  font-weight: bold;
}

.at-rate__icon--on {
  color: $themeRed;
}

.at-button--small {
  border-color: $themeRed;
  color: $themeRed;
}

.bottomGroup {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
}

button::after {
  border: none;
}

.at-float-layout .layout-body {
  padding: 0;
}
