@font-face {
  font-family: 'iconfont';  /* project id 1934891 */
  src: url('//at.alicdn.com/t/font_1934891_k1q5c3dhzqm.eot');
  src: url('//at.alicdn.com/t/font_1934891_k1q5c3dhzqm.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1934891_k1q5c3dhzqm.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1934891_k1q5c3dhzqm.woff') format('woff'),
  url('//at.alicdn.com/t/font_1934891_k1q5c3dhzqm.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1934891_k1q5c3dhzqm.svg#iconfont') format('svg');
}

/* 举例：fa 就是 prefixClass 的值，下面的的图标 css class 命名都要用 fa- 开头  */
.fa {
  display: inline-block;
  /* 以下的 font 与上面 @font-face 的 font-family 要一致*/
  font: normal normal normal 14px/1 iconfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-back:before {
  content: '\e611';
}

.fa-backHome:before {
  content: '\e62c';
}

.fa-location:before {
  content: '\e627';
}

.fa-search:before {
  content: '\e628';
}

.fa-ring:before {
  content: '\e620';
}

.fa-diamond:before {
  content: '\e618';
}

.fa-lightning:before {
  content: '\e61a';
}

.fa-heart:before {
  content: '\e650';
}

