@font-face {
  font-family: 'iconfont';  /* project id 1934891 */
  src: url('//at.alicdn.com/t/font_1934891_f9pcx2jd657.eot');
  src: url('//at.alicdn.com/t/font_1934891_f9pcx2jd657.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1934891_f9pcx2jd657.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1934891_f9pcx2jd657.woff') format('woff'),
  url('//at.alicdn.com/t/font_1934891_f9pcx2jd657.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1934891_f9pcx2jd657.svg#iconfont') format('svg');
}

/* 举例：fa 就是 prefixClass 的值，下面的的图标 css class 命名都要用 fa- 开头  */
.fa {
  display: inline-block;
  /* 以下的 font 与上面 @font-face 的 font-family 要一致*/
  font: normal normal normal 14px/1 iconfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-back:before {
  content: '\e611';
}

.fa-backHome:before {
  content: '\e62c';
}

.fa-location:before {
  content: '\e627';
}

.fa-search:before {
  content: '\e628';
}

.fa-ring:before {
  content: '\e620';
}

.fa-diamond:before {
  content: '\e618';
}

.fa-lightning:before {
  content: '\e61a';
}

.fa-heart:before {
  content: '\e650';
}

.fa-add:before {
  content: '\e608';
}

.fa-order:before {
  content: '\e612';
}

.fa-waitPay:before {
  content: '\e607';
}

.fa-waitAccept:before {
  content: '\e613';
}

.fa-waitComment:before {
  content: '\e62d';
}

.fa-refund:before {
  content: '\e614';
}

.fa-collect:before {
  content: '\e60d';
}

.fa-fightTogether:before {
  content: '\e63c';
}

.fa-point:before {
  content: '\e768';
}

.fa-foot:before {
  content: '\e61d';
}

.fa-message:before {
  content: '\e638';
}

.fa-warn:before {
  content: '\e649';
}

.fa-setting:before {
  content: '\e644';
}

.fa-customerService:before {
  content: '\e61f';
}

.fa-weChat:before {
  content: '\e639';
}

.fa-rubbish:before {
  content: '\e61e';
}

.fa-shop:before {
  content: '\e636';
}

.fa-share:before {
  content: '\e662';
}

.fa-close:before {
  content: '\e61b';
}

.fa-modifyAdd:before {
  content: '\e66f';
}
