//尽量使用class来定义样式，所有使用class定义的样式都会自动追加box-sizing: border-box,获取更好的开发体验

$themeColor: rgb(234, 114 ,49);
$themeRed: rgb(203,72,66);
$borderColor: rgb(238, 238, 238);

.commonRowFlex {
  display: flex;
  flex-direction: row;
}

.commonColumnFlex {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  align-items: center;
}

.buttonHover {
  transition: opacity .1s;
  opacity: 0.6;
}

.gradientTheme {
  background: linear-gradient(to right, rgb(235, 105, 44), rgb(233, 133, 60));
}

.smallText {
  font-size: 9PX;
}

.slightlySmallText {
  font-size: 12PX;
}

.whiteText {
  color: white;
}

.redText {
  color: $themeRed;
}

.orangeText {
  color: $themeColor;
}

.grayText {
  color: gray;
}

.mediumText {
  font-size: 15PX;
}

.boldText {
  font-weight: bold;
}

.normalMarginTop {
  margin-top: 16Px;
}

.normalMarginLeft {
  margin-left: 16Px;
}

.normalMarginRight {
  margin-right: 16Px;
}

.normalMarginBottom {
  margin-bottom: 16Px;
}

.normalMargin {
  margin: 16Px;
}

.normalPaddingTop {
  padding-top: 16Px;
}

.normalPaddingLeft {
  padding-left: 16Px;
}

.normalPaddingRight {
  padding-right: 16Px;
}

.normalPaddingBottom {
  padding-bottom: 16Px;
}

.normalPadding {
  padding: 16Px;
}

.smallMarginTop {
  margin-top: 8Px;
}

.smallMarginLeft {
  margin-left: 8Px;
}

.smallMarginRight {
  margin-right: 8Px;
}

.smallMarginBottom {
  margin-bottom: 8Px;
}

.smallMargin {
  margin: 8Px;
}

.throughLineText {
  text-decoration: line-through;
}

.radius {
  border-radius: 15Px;
}

.horMirror {
  transform: rotateY(180deg)
}

.whiteBack {
  background-color: white;
}
