@import "src/common/styles/style.scss";
@import "src/common/styles/icon.scss";

.commodityLabel {
  display: flex;
  padding: 0 8Px;
  margin-right: 4Px;
  border-bottom-left-radius: 5Px;
  border-top-right-radius: 5Px;
}

.displayImg {
  width: 220px;
  height: 100Px;
}

.labelImg {
  position: absolute;
  flex-shrink: 0;
  left: 5Px;
  top: 5Px;
  width: 20Px;
  height: 20Px;
  margin-right: 8Px;
}
