@import "src/common/styles/style.scss";
@import "src/common/styles/icon.scss";

.index {
  flex-direction: column;
  width: 100%;
}

.topBackground {
  z-index: -1;
  position: absolute;
  height: 400px;
  width: 100%;
  background-color: $themeColor;
  border-bottom-left-radius: 36Px;
  border-bottom-right-radius: 36Px;
}

.headerAndTitle {
  padding: 0 16Px;
}

.cusSearchBar {
  margin: 16Px;
  flex: 1;
  background-color: white;
  border-radius: 30Px;
  height: 35Px;
}

.countDown {
  border-radius: 35px;
  background-color: $themeRed;
}

.at-countdown, .at-countdown__time {
  color: white;
  font-size: 14PX;
}

.at-countdown__separator {
  padding: 0;
}

.titleWithColor:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: $themeColor;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 1px 0 12px 0 $themeColor;
  -moz-box-shadow: 1px 0 12px 0 $themeColor;
  box-shadow: 1px 0 12px 0 $themeColor;
}
