@import "src/common/styles/style.scss";
@import "src/common/styles/icon.scss";

.tabText {
  display: inline-block;
  border-bottom: 2Px solid $themeRed;
  color: $themeRed;
}

.at-list__item .item-content__info-title {
  font-size: 15Px;
}

.at-float-layout--active .at-float-layout__container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
