@import "src/common/styles/style.scss";
@import "src/common/styles/icon.scss";

.topBackground {
  z-index: -1;
  position: absolute;
  height: 150Px;
  width: 100%;
  background-color: $themeColor;
}

.person {
  margin: 37Px 16Px;
}

.avatar {
  padding-right: 16Px;
  border-right: 1px solid white;
}

.personPoint {
  padding: 16Px 0;
}
