.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.icon {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.headerText {
  margin-top: 8px;
  letter-spacing: 2px;
  font-size: 20px;
}

.nameText {
  margin-right: 8px;
  font-size: 26px;
}

.signInButton {
  margin-top: 32px;
  width: 180px;
  height: 70px;
  font-size: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonGroup {
  margin-top: 32px;
  justify-content: space-around;
}
