@import "src/common/styles/style.scss";
@import "src/common/styles/icon.scss";

.displayImg {
  flex-shrink: 0;
  width: 200px;
  height: 100Px;
  margin-right: 8Px;
}

.at-countdown__time-box {
  background-color: $themeRed;
  border-radius: 5px;
}

.at-countdown__separator {
  color: $themeRed;
}

.at-countdown__time {
  color: white;
}
